@model SkyRentifyAplikacija.Models.Zahtjev

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zahtjev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="datumPodnosenjaZahtjeva" class="control-label"></label>
                <input asp-for="datumPodnosenjaZahtjeva" class="form-control" />
                <span asp-validation-for="datumPodnosenjaZahtjeva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumIzdavanjaUsluge" class="control-label"></label>
                <input asp-for="datumIzdavanjaUsluge" class="form-control" />
                <span asp-validation-for="datumIzdavanjaUsluge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumZavrsetkaUsluge" class="control-label"></label>
                <input asp-for="datumZavrsetkaUsluge" class="form-control" />
                <span asp-validation-for="datumZavrsetkaUsluge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KlijentId" class="control-label"></label>
                <select asp-for="KlijentId" class="form-control" asp-items="ViewBag.KlijentId"></select>
                <span asp-validation-for="KlijentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cijena" class="control-label"></label>
                <input asp-for="cijena" class="form-control" />
                <span asp-validation-for="cijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="popust" class="control-label"></label>
                <input asp-for="popust" class="form-control" />
                <span asp-validation-for="popust" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="placeno" /> @Html.DisplayNameFor(model => model.placeno)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
