@model SkyRentifyAplikacija.Models.Kaciga

@{
    ViewData["Title"] = "Create";
}

<h4>Unesite sljedeće podatke za kacigu:</h4>

<div class="form-container">
    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="velicina" class="control-label"></label>
            <select asp-for="velicina" class="form-control">
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
            </select>
            <span asp-validation-for="velicina" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="cijena" class="control-label"></label>
            <input asp-for="cijena" class="form-control" placeholder="Unesite cijenu kacige" />
            <span asp-validation-for="cijena" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="marka" class="control-label"></label>
            <input asp-for="marka" class="form-control" placeholder="Unesite marku kacige" />
            <span asp-validation-for="marka" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="materijal" class="control-label"></label>
            <input asp-for="materijal" class="form-control" placeholder="Unesite materijal kacige" />
            <span asp-validation-for="materijal" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Kreiraj kacigu</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-back">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
