<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('https://i.ibb.co/GVL1qJ1/pocetna.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        .text-center {
            color: white;
            text-shadow: 2px 2px 4px #000000;
            margin-top: 100px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            flex-direction: column; 
            align-items: center
        }

        .btn-row {
            display: flex; /* Postavlja unutrašnje elemente u red */
            justify-content: center; /* Centrira horizontalno */
            margin-bottom: 5px; /* Prostor između redova buttona */
        }

        .text-orange {
            color: darkorange;
            margin-right: 330px;
            margin-top: 50px;
            text-shadow: 1px 1px 3px gray
        }

        .btn-custom {
            margin: 20px;
            font-size: 1.5em;
            padding: 15px 30px;
            background-color: darkorange;
            border: none;
            color: white;
            margin-top: 70px;
        }

            .btn-custom:hover {
                background-color: orange;
            }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("iznajmljivanjeForm").addEventListener("submit", function () {
                document.getElementById("selectedItemInputIznajmljivanje").value = "iznajmljivanje";
                document.getElementById("iznajmljivanjeForm").submit();
            });

            document.getElementById("servisiranjeForm").addEventListener("submit", function () {
                document.getElementById("selectedItemInputServisiranje").value = "servisiranje";
                document.getElementById("servisiranjeForm").submit();
            });

            document.getElementById("cancelButton").addEventListener("click", function () {
                document.getElementById("cancelForm").submit();
            });
        });
    </script>
</head>
@if (User.IsInRole("Vlasnik"))
{

    <body>
        <div class="text-center mt-5">
            <h1 class="display-4 text-orange">SkiRentify - Vaš skijaški san sa<br>nama postaje stvarnost</h1>

            <div class="btn-container">
                <div class="btn-row">
                <form id="pregledZahtjevaForm" method="" action="/Zahtjev/Index">
                    <button type="submit" class="btn btn-warning btn-custom">Pregled zahtjeva</button>
                </form>

                <form id="azuriranjeCijenaOpremaForm" method="" action="/Home/OpremaAzuriranje">
                    <button type="submit" class="btn btn-warning btn-custom">Ažuriranje cijena opreme</button>
                </form>
                </div>

                <div class="btn-row">
                <form id="azuriranjeCijenaUslugaForm" method="" action="/TipZahtjeva/Index">
                    <button type="submit" class="btn btn-warning btn-custom">Ažuriranje cijena usluga</button>
                </form>
                </div>
            </div>
        </div>
    </body>
}
else if (User.IsInRole("Uposlenik"))
{
    <body>
        <div class="text-center mt-5">
            <h1 class="display-4 text-orange">SkiRentify - Vaš skijaški san sa<br>nama postaje stvarnost</h1>
        </div>
    </body>
}
else
{
    <body>
    <div class="text-center mt-5">
        <h1 class="display-4 text-orange">SkiRentify - Vaš skijaški san sa<br>nama postaje stvarnost</h1>

        <div class="btn-container">
        <!--Iznajmljivanje forma-->
        <form id="iznajmljivanjeForm" method="" action="/Home/postaviTipZahtjeva">
            <input type="hidden" id="selectedItemInputIznajmljivanje" name="selectedItem" value="">
            <button type="submit" class="btn btn-warning btn-custom">Iznajmljivanje</button>
        </form>

        <!-- Servisiranje forma -->
        <form id="servisiranjeForm" method="" action="/Home/postaviTipZahtjeva">
            <input type="hidden" id="selectedItemInputServisiranje" name="selectedItem" value="">
            <button type="submit" class="btn btn-warning btn-custom">Servisiranje</button>
        </form>

            <form id="cancelForm" method="" action="/Zahtjev/BrisanjeZaKlijenta">
                <button id="cancelButton" class="btn btn-danger" style="position: absolute; bottom: 20px; right: 20px;">Otkaži zahtjev</button>
            </form>

        </div>
    </div>
</body>
}
</html>
