@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('https://i.ibb.co/GVL1qJ1/pocetna.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        .text-center {
            color: white;
            text-shadow: 2px 2px 4px #000000;
            margin-top: 100px;
        }

        .btn-custom {
            margin: 20px;
            font-size: 1.5em;
            padding: 15px 30px;
            background-color: darkorange;
            border: none;
            color: white;
        }

            .btn-custom:hover {
                background-color: orange;
            }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("iznajmljivanjeBtn").addEventListener("click", function () {
                window.location.href = '/Home/Iznajmljivanje'; 

            document.getElementById("servisiranjeBtn").addEventListener("click", function () {
                window.location.href = '/Home/Servisiranje';
            });
        });
    </script>
</head>
<body>
    <div class="text-center mt-5">
        <h1 class="display-4">SkiRentify - Vaš skijaški san sa nama postaje stvarnost</h1>

        <button id="iznajmljivanjeBtn" type="button" class="btn btn-warning btn-custom">Iznajmljivanje</button>
        <button id="servisiranjeBtn" type="button" class="btn btn-warning btn-custom">Servisiranje</button>

    </div>
</body>
</html>
